@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Roboto+Slab:wght@100;200;300;400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cars-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.car-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.car-details-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.car-details-more-info {
  padding-bottom: 2em;
}

.car-component-info > p {
  color: #828282;
}

.car-details-more-info > p:nth-child(even) {
  background-color: rgb(211, 211, 211);
}

.car-details-photo {
  width: 50%;
}

.car-list-wrapper {
  display: flex;
  align-items: center;
}

.cars-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 80vw;
}

button {
  margin: 0 10px;
  font-size: 24px;
}

.car-component {
  text-align: center;
}

.car-name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
}

.car-component-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.btnPrev,
.btnNext {
  border: none;
  padding: 5px 15px 0 10px;
  background-color: #96bf11;
}

.btnNext > svg,
.btnPrev > svg {
  background: transparent;
  color: #fff;
}

.btnPrev {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.btnNext {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.btnPrev:disabled,
.btnNext:disabled {
  background-color: #e3e3e3;
}

.register-user-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-icons {
  text-align: center;
}

.social-icons > span {
  border: 1px solid rgb(203, 203, 203);
  border-radius: 50px;
  padding: 5px;
  font-size: 10px;
  color: rgb(203, 203, 203);
  margin-right: 10px;
}

.social-icons > span:last-child {
  margin-right: 0;
}

.social-icons > span:hover {
  cursor: pointer;
  border: 1px solid rgb(149, 149, 149);
  color: rgb(174, 174, 174);
}

.add-car-btn {
  text-align: center;
}

.add-car-btn > a {
  text-decoration: none;
  background-color: #96bf11;
  color: #fff;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.add-car-btn > a:hover {
  background-color: #749700;
  color: #fff;
}

/* Responsiveness */
@media only screen and (min-width: 768px) {
  .car-details {
    display: flex;
    flex-direction: row;
  }
}

@font-face {
  font-family: "vespa";
  src: local("vespa"), url("./fonts/vespa.ttf") format("truetype");
}
